<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Hemispheric Views - App Defaults</title>

    <meta property='og:title' content='Hemispheric Views - App Defaults' />
    <meta property='description' content='Hemispheric Views - App Defaults' />
    <meta property='og:description' content='Hemispheric Views - App Defaults' />
    <meta property='og:type' content='article' />
    <meta property='og:url' content='https://defaults.rknight.me' />
    <meta property='og:url' content='https://defaults.rknight.me' />
    <meta property="og:image" content="https://defaults.rknight.me/icons/preview.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#fdbd30">
    <meta name="theme-color" content="#fdbd30">
    <link rel='icon' type='image/x-icon' href='/icons/favicon.ico'>

    <link rel="alternate" type="application/rss+xml" title="App Defaults" href="https://defaults.rknight.me/feed.xml" />

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i" rel="stylesheet" />

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
            font-family: 'Atkinson Hyperlegible', sans-serif;
            font-size: 1.5em;
            height: 100vh;
            background-color: #01a4df;
        }

        header {
            text-align: center;
            background-color: #fdbd30;
            overflow: auto;
            padding: 20px;
        }

        section {
            background-color: #01a4df;
            overflow: auto;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 10px 15px;
        }

        h1 {
            margin-bottom: 0;
        }

        a {
            color: black;
            font-weight: bold;
        }

        a:hover {
            text-decoration: none;
        }

        footer {
            text-align: center;
            margin-bottom: 20px;
        }

        pre {
            padding: 10px;
            background-color: white;
        }

        details:hover {
            cursor: pointer;
        }

        iframe {
            width: 740px;
            max-width: 100%;
            height: 200px;
        }

        @media (max-width: 600px) {
            iframe {
                height: 100px;
            }
        }
    </style>

</head>

<body>

    <header>
        <h1>App Defaults</h1>
        <p class="subtitle">Inspired by <a href="https://listen.hemisphericviews.com/097">Hemispheric Views 097 - Duel of the Defaults!</a></p>

        <iframe src="https://player.fireside.fm/v2/6MInpziV+pRrVuoJB?theme=dark" frameborder="0" scrolling="no"></iframe>
    </header>

    <section>

        <div class="container">

        <p><a href="feed.xml">Subscribe to the RSS feed</a> to see new posts as they're added or check out one of the {{ sites.length }} blog posts from all these wonderful people:</p>

        <ul>
            {%- for site in sites %}
                <li><a href="{{ site.url }}">{{ site.name }}</a> {% if site.rss %}<small><a style="font-weight: normal" href="{{ site.rss }}">RSS</a></small>{% endif %}</li>
            {% endfor%}
        </ul>

        <p><a href="opml.xml" download="download">Download an OPML file</a> to import all these lovely people's feeds into wherever you get your RSS.</p>

        <p>Post your own list of defaults and either <a href="https://github.com/rknightuk/app-defaults">add it on GitHub</a> or <a href="https://social.lol/@robb">let Robb know</a>.</p>

        <details>
            <summary>No Emoji</summary>
            <pre>Mail Client
Mail Server
Notes
To-Do
iPhone Photo Shooting
Photo Management
Calendar
Cloud File Storage
RSS
Contacts
Browser
Chat
Bookmarks
Read It Later
Word Processing
Spreadsheets
Presentations
Shopping Lists
Meal Planning
Budgeting and Personal Finance
News
Music
Podcasts
Password Management</pre>
        </details>

        <details>
            <summary>With Emoji (thanks Gabz)</summary>
            <pre>📨 Mail Client
📮 Mail Server
📝 Notes
✅ To-Do
📷 iPhone Photo Shooting
🟦 Photo Management
📆 Calendar
📁 Cloud File Storage
📖 RSS
🙍🏻‍♂️ Contacts
🌐 Browser
💬 Chat
🔖 Bookmarks
📑 Read It Later
📜 Word Processing
📈 Spreadsheets
📊 Presentations
🛒 Shopping Lists
🍴 Meal Planning
💰 Budgeting and Personal Finance
📰 News
🎵 Music
🎤 Podcasts
🔐 Password Management</pre>

    </div>

    <footer>
        <small>Links collected by <a href="https://social.lol/@robb">Robb</a></small>
    </footer>

    </section>

</body>

</html>
