---
layout: base
---



        <p><a href="feed.xml">Subscribe to the RSS feed</a> to see new posts as they're added or check out one of the {{ sites.length }} blog posts from all these wonderful people:</p>

        <ul>
            {%- for site in sites %}
                <li><a href="{{ site.url }}">{{ site.name }}</a> {% if site.rss %}<small><a style="font-weight: normal" href="{{ site.rss }}">RSS</a></small>{% endif %}</li>
            {% endfor%}
        </ul>

        <p><a href="opml.xml" download="download">Download an OPML file</a> to import all these lovely people's feeds into wherever you get your RSS.</p>

        <p>Post your own list of defaults and either <a href="https://github.com/rknightuk/app-defaults">add it on GitHub</a> or <a href="https://social.lol/@robb">let Robb know</a>.</p>

        <details>
            <summary>No Emoji</summary>
            <pre>Mail Client
Mail Server
Notes
To-Do
iPhone Photo Shooting
Photo Management
Calendar
Cloud File Storage
RSS
Contacts
Browser
Chat
Bookmarks
Read It Later
Word Processing
Spreadsheets
Presentations
Shopping Lists
Meal Planning
Budgeting and Personal Finance
News
Music
Podcasts
Password Management</pre>
        </details>

        <details>
            <summary>With Emoji (thanks Gabz)</summary>
            <pre>📨 Mail Client
📮 Mail Server
📝 Notes
✅ To-Do
📷 iPhone Photo Shooting
🟦 Photo Management
📆 Calendar
📁 Cloud File Storage
📖 RSS
🙍🏻‍♂️ Contacts
🌐 Browser
💬 Chat
🔖 Bookmarks
📑 Read It Later
📜 Word Processing
📈 Spreadsheets
📊 Presentations
🛒 Shopping Lists
🍴 Meal Planning
💰 Budgeting and Personal Finance
📰 News
🎵 Music
🎤 Podcasts
🔐 Password Management</pre>