---
layout: base
isNetworkPage: true
---

<p>Each node represents a blog post and each line represents a link included in a blog post linking to another</p>

<div id="selected" class="selected">
    <span id="selected--empty"><em>Click on a node to see the app defaults for that person.</em></span>
    <span id="selected--container">
        <span id="selected--id"></span>
        <a href="#" id="selected--url"><span id="selected--name"></span></a>
        <a href="#" id="selected--rss"><span id="selected--rssname">RSS</span></a>
        <span id="selected--linked"></span></a>
    </span>
</div>

<p id="loading" style="text-align: center; font-size: 0.8em;">Loading...</p>

<div id="hemisphericnetwork" class="networkmap"></div>

<script type="text/javascript">

    const nodes = new vis.DataSet({{ nodes.nodes | stringify | safe }})
    const edges = new vis.DataSet({{ nodes.edges | stringify | safe }})

    const container = document.getElementById("hemisphericnetwork")
    const data = {
        nodes: nodes,
        edges: edges
    }
    const options = {
        layout: {
            randomSeed: undefined,
            improvedLayout:false
        }
    }
    const network = new vis.Network(container, data, options)

    const selectedContainer = document.getElementById('selected--container')
    const url = document.getElementById('selected--url')
    const name = document.getElementById('selected--name')
    const rss = document.getElementById('selected--rss')
    const postId = document.getElementById('selected--id')
    const linked = document.getElementById('selected--linked')

    const emptyContainer = document.getElementById('selected--empty')

    network.on('click', function (properties) {
        const ids = properties.nodes
        const clickedNodes = nodes.get(ids)
        const selected = clickedNodes[0] || null
        if (selected)
        {
            postId.innerText = selected.id < 1000 ? `Number #${selected.id}` : ''
            name.innerText = selected.label
            url.href = selected.url
            if (selected.rss) 
            {
                rss.href = selected.rss
            } else {
                rss.style.display = 'none'
            }

            if (selected.linkCount > 0) {
                linked.innerText = `Linked from ${selected.linkCount} other post${selected.linkCount > 1 ? 's' : ''}`
            } else {
                linked.innerText = ''
            }

            selectedContainer.style.display = 'block'
            emptyContainer.style.display = 'none'
        } else {
            selectedContainer.style.display = 'none'
            emptyContainer.style.display = 'block'
        }
    })

    const elem = document.getElementById('loading')

    network.on("stabilizationProgress", function (params) {
        elem.innerHTML = 'Loading: ' + Math.round((params.iterations / params.total) * 100) + '%'
    })

    network.once("stabilizationIterationsDone", function () {
        elem.remove()
    })
</script>