---
layout: base
isWordCloudPage: true
---

<script>
    window.WordCloudWords = {{ words | stringify | safe }}
</script>

<style>
    {# .canvas {
        width: 100%;
        height: 1200px;
    } #}
</style>
<canvas id="wordcloud-canvas" class="canvas" height="600" width="1200"></canvas>

<script type="text/javascript">

(function() {
   const width = (window.innerWidth > 1200 ? 1200 : window.innerWidth) - 30
       document.getElementById('wordcloud-canvas').width = width
       document.getElementById('wordcloud-canvas').height = 600
       
    WordCloud(document.getElementById('wordcloud-canvas'), { list: window.WordCloudWords, gridSize: 1 } )
})()
    
</script>